.button {
  display: flex;
  width: 100%;
  height: myclamp(72px, 90px, 1920px, 3860px);
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: myclamp(20.45px, 36px, 1920px, 3860px);
  line-height: 1;
  color: var(--white);
  background-color: var(--orange);
  font-family: var(--bold);
  border-radius: 100px;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s, opacity 0.6s;
  letter-spacing: 0.02em;
  z-index: 5;
  &.button--yellow {
    background-color: var(--bg-form);
    color: var(--viola);
    border: 2px solid var(--viola);
  }
  &.button--light {
    box-shadow: 0px 0px 40px var(--orange);
    &:hover {
      box-shadow: 0px 0px 80px var(--orange);
    }
  }
  &.lightning {
    &:after {
      content: '';
      width: myclamp(20px, 30px, 1920px, 3860px);
      height: myclamp(28px, 40px, 1920px, 3860px);
      margin-left: myclamp(14px, 26px, 1920px, 3860px);
      background: url('../img/svg/lightning.svg') no-repeat center center/cover;
    }
  }
}

.swiper-slide {
  .button {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}

.get-present-button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: myclamp(62px, 140px, 1920px, 3860px);
  margin-top: myclamp(14px, 20px, 1080px, 3860px);
  margin-bottom: myclamp(14px, 18px, 1080px, 3860px);
  z-index: 5;
  // transition: opacity 0.6s;
  // opacity: 1;
  outline: none;

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 88.5%;
  }

  .icon {
    position: absolute;
    top: 0px;
    transition: 0.6s;
  }

  img {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: transform 0.5s, opacity 0.4s;
  }

  @media (hover: hover) {
    &:hover {
      img.presentBox {
        transform: translate(5px, 15px) rotate(10deg);
      }
      img.presentLid {
        transform: translate(-5px, -5px) rotate(-10deg);
      }
    }
  }
}

// .swiper-slide-active {
//   .get-present-button {
//     opacity: 1;
//     transition: background-color 0.3s, opacity 1.5s ease 0.4s;
//   }
// }

//============================= SUBMIT BUTTON

.submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  transition: 0.3s;
  height: myclamp(50px, 90px, 1920px, 3860px);
  border-radius: myclamp(25px, 45px, 1920px, 3860px);
  opacity: 1;
  background: var(--viola);
  color: var(--white);
  padding: 10px myclamp(20px, 30px, 1920px, 3860px);
  z-index: 1;
  span {
    font-family: var(--bold);
    flex: 1;
    font-size: myclamp(26px, 36px, 1920px, 3860px);
    line-height: 1;
  }
  &.loading {
    pointer-events: none;
    color: rgba(0, 0, 0, 0);
    span {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        @media (max-width: 767px) {
          width: 20px;
          height: 20px;
        }
        border-radius: 30px;
        border-left: 2px solid var(--white);
        border-top: 2px solid var(--white);
        border-right: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        animation: rotate 0.3s linear infinite;
      }
    }
  }
  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  &:before,
  &:after {
    content: '';
    width: myclamp(0px, 24px, 1920px, 3860px);
    height: myclamp(0px, 40px, 1920px, 3860px);
    background: url('../img/svg/romb.svg') no-repeat center center/cover;
    @media (max-width: 1023px) {
      content: none;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//==================================== RESPONSIVE

@media (max-width: 1279px), (orientation: portrait) {
  .button {
    line-height: 1.1;
    letter-spacing: 0em;

    &.button--light {
      box-shadow: 0px 0px 30px var(--orange);
      &:hover {
        box-shadow: 0px 0px 60px var(--orange);
      }
    }
  }

  .swiper-slide {
    .button:not(.button--yellow) {
      position: relative;
      margin-top: 30px;
    }
  }

  .get-present-button {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
