.header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: myclamp(70px, 100px, 1920px, 3860px);
  flex-shrink: 0;
  z-index: 20;
}

.logo {
  display: block;
  opacity: 0;
  transition: opacity 0.6s;
  width: myclamp(150px, 298px, 1920px, 3860px);
}

body.show-slide {
  .logo {
    opacity: 1;
  }
}

@media (max-width: 1279px), (orientation: portrait) {
  .header {
    max-width: 600px;
    margin: 0 auto;
  }

  .logo {
    position: absolute;
    left: 20px;
    top: calc(100% + 40px);
  }

  .body.form .header .logo {
    top: auto;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 375px;
    .logo {
      position: absolute;
      left: 20px;
      top: calc(100% + 26px);
    }
  }
}

@media screen and (max-height: 668px) and (max-width: 767px) {
  .night,
  .day {
    .header {
      height: 0px;
    }
    .main {
      padding-bottom: 0px;
    }
    .text-content {
      gap: 14px;
    }
    .slideImage {
      margin-top: 0px;
      &.slideImage--welcome {
        margin-top: -20px;
      }
    }
    .swiper-slide.swiper-slide--fobia-5-done .slideImage {
      margin-top: 0px;
    }
  }
}
