.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  position: relative;
  flex: 1;
  padding-bottom: myclamp(20px, 80px, 1920px, 3860px);
}

.content {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--slider-bg);
  margin: auto;
  width: 100%;
  max-width: myclamp(20px, 1380px, 1920px, 3860px);
  min-height: 100%;
  transition: background-color 0.6s;
  border-radius: myclamp(30px, 80px, 1920px, 3860px) myclamp(30px, 80px, 1920px, 3860px) myclamp(30px, 45px, 1920px, 3860px)
    myclamp(30px, 45px, 1920px, 3860px);
}

@media (max-width: 1279px), (orientation: portrait) {
  .content {
    justify-content: flex-start;
    max-width: 500px;
  }
}

@media (max-width: 767px) {
  .content {
    max-width: 375px;
  }
}
