:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--medium);
  transition: background-color 0.6s;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  overscroll-behavior: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--bold);
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  &:disabled {
    cursor: auto;
    pointer-events: none;
  }
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  display: block;
  fill: currentColor;
  width: 100%;
  height: auto;
}

.keep {
  display: block !important;
}

.show_in_mobil,
.show_in_tablet_and_delete_in_mobil,
.show_in_tablet {
  display: none;
}

@media (max-width: 767px) {
  .show_in_mobil {
    display: block !important;
  }
  .del_in_mobil {
    display: none;
  }
}

@media (max-width: 1279px) {
  .del_in_tablet {
    display: none;
  }
  .show_in_tablet {
    display: block !important;
  }
}

@media (max-width: 1279px) and (min-width: 768px) {
  .show_in_tablet_and_delete_in_mobil {
    display: block !important;
  }
}

@media (max-width: 374px) {
  .not-keep {
    display: none !important;
  }
  .form-description span {
    font-size: 13px;
  }
}
