.slideImage {
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.swiper-slide-active .slideImage {
  opacity: 1;
}

.slideImage--welcome {
  width: 50%;
  height: calc(100vh - myclamp(0px, 90px, 1920px, 3860px) - myclamp(0px, 80px, 1920px, 3860px));
  right: myclamp(0px, -40px, 1920px, 3860px);
  top: myclamp(0px, -120px, 1920px, 3860px);
  bottom: auto;
}

@media (max-width: 1023px), (orientation: portrait) {
  .slideImage {
    position: relative;
    right: auto;
    bottom: auto;
    height: auto;
    margin-top: 10px;
    img {
      height: auto;
    }
  }

  .slideImage--welcome {
    width: 100%;
    height: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin-bottom: auto;
    margin-top: 20px;
  }
}
