.text-content {
  display: flex;
  position: relative;
  gap: clamp(20px, 1.5vw, 53.33px);
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.title {
  display: block;
  color: var(--orange);

  &.title--h1 {
    font-size: clamp(36px, 5.2vw, 133px); //100px
    line-height: 0.95;
    color: var(--white);
  }

  &.title--h2 {
    font-size: clamp(32px, 3.125vw, 80px); //60px
    line-height: 1.05;
  }

  &.title--h3 {
    font-size: clamp(24px, 2.3438vw, 60px); //45px
    line-height: 1.1;
    color: var(--white);
  }

  &.title--h4 {
    font-size: clamp(20px, 1.875vw, 48px); //36px
    line-height: 1.1;
  }

  &.title--h5 {
    font-size: 25px;
    line-height: 1.1;
    letter-spacing: -0.03em;
  }

  &.title--h6 {
    font-size: 20px;
    line-height: 1.2;
  }
}

.subtitle {
  display: block;
  font-size: clamp(18px, 1.67vw, 42.7px); //32px
  line-height: 1.4;
  span {
    display: inline-block;
    width: auto;
  }
}

.text {
  display: block;
  font-size: clamp(16px, 1.56vw, 40px); //30px
  line-height: 1.4;
}
