:root {
  --regular: 'Yandex Sans Regular', sans-serif;
  --medium: 'Yandex Sans Medium', sans-serif;
  --bold: 'Halvar Breitschrift', sans-serif;
  --bg: #230057;
  --slider-bg: #350779;
  --color: #ffffff;
  --bg-dark: #350779;
  --bg-light: #eae0ff;
  --bg-form: #f8d849;
  --white: #ffffff;
  --viola: #7d24ff;
  --orange: #f97755;
  --orange-hover: #da5f40;
  --invalid: red;

  --logo-color: #ffffff;
  --logo-bg: #230057;
  --logo-border: #ffffff;
  --logo-ring: #ffffff;
  --logo-card: #ffffff;
  --logo-sub: #230057;
}

.night {
  --bg: #230057;
  --color: #ffffff;
  --slider-bg: #350779;

  --logo-color: #ffffff;
  --logo-bg: #230057;
  --logo-border: #ffffff;
  --logo-ring: #ffffff;
  --logo-card: #ffffff;
  --logo-sub: #230057;
}

.day {
  --bg: #eae0ff;
  --color: #7d24ff;
  --slider-bg: #f6f0ff;

  --logo-color: #000000;
  --logo-bg: #cbb1ff;
  --logo-border: #cbb1ff;
  --logo-ring: #ffffff;
  --logo-card: #7d24ff;
  --logo-sub: #cbb1ff;
}

.form {
  --bg: #eae0ff;
  --color: #7d24ff;
  --slider-bg: #f8d849;

  --logo-color: #000000;
  --logo-bg: #cbb1ff;
  --logo-border: #cbb1ff;
  --logo-ring: #ffffff;
  --logo-card: #7d24ff;
  --logo-sub: #cbb1ff;
}

@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'main';
@import 'header';
@import 'buttons';
@import 'bg';
@import 'typography';
@import 'tutorial';
@import 'slideImages';
@import 'subscribe';
@import 'forms';
@import 'swiper';
@import 'popup';
