<div class="popup-content" id="subscribe">
  <button class="popup-close" data-popup-close></button>

  <div class="subscribe-grid">
    <div class="subscribe-grid__left">
      <h2 class="title title--h2">Промокод <br class="keep" />на +10% к первой <br />арендной плате</h2>
      <img
        src="./assets/img/prize/prize_popup.webp"
        alt="Яндекс аренда"
        width="100%"
        height="auto"
        loading="lazy"
        class="prize-image prize-image--popup"
      />
    </div>
    <div class="prize-mobil closer-to-block">
      <img src="./assets/img/prize/prize_mobil.webp" alt="Яндекс аренда" width="100%" height="auto" loading="lazy" class="prize-image" />
    </div>
    <div class="subscribe-grid__right">
      <form action="#" novalidate data-subscribe class="subscribe-form">
        <p class="form-description">
          <span>
            Подпишитесь, чтобы получить <br />
            промокод <br class="show_in_tablet" />и принять участие <br />
            в розыгрыше 1 из 10 Яндекс <br />
            Станций Миди за 1 рубль!
          </span>
        </p>
        <label>
          <input type="email" name="email" placeholder="E-mail" class="input" required />
        </label>
        <label>
          <input type="checkbox" name="agree" class="checkbox" checked required />
          <span>
            <span class="agree__text">
              Я даю согласие <a href="https://yandex.ru/legal/lease_termsofuse/?lang=ru" target="_blank">ООО «Яндекс.Вертикали»</a>
              <br class="show_in_mobil" />на обработку моих персональных данных в целях направления мне сообщений рекламного характера
            </span>
          </span>
        </label>
        <button type="submit" class="submit"><span>Подписаться</span></button>
      </form>

      <span class="rules">
        <a href="https://yandex.ru/legal/arenda_no_phobia/" target="_blank">Подробнее о правилах розыгрыша</a>
      </span>
    </div>
  </div>
</div>

<div class="popup-content" id="ok">
  <button class="popup-close" data-popup-close></button>
  <div class="text-content">
    <h2 class="popup-title">Спасибо <br />за подписку!</h2>
    <p class="popup-subtitle">
      Промокод на дополнительные <br />
      10% к первой арендной плате <br />
      уже на вашей почте
    </p>
  </div>
</div>

<div class="popup-content" id="error">
  <button class="popup-close" data-popup-close></button>
  <div class="text-content">
    <h2 class="popup-title">Произошла <br />ошибка!</h2>
    <p class="popup-subtitle">
      При попытке оформить подписку <br />
      что-то пошло не так...
    </p>
  </div>
</div>
