<div class="popup-content" id="subscribe">
  <button class="popup-close" data-popup-close></button>
  <div class="subscribe">
    <div class="subscribe__sidebar">
      <h2 class="title title--h2">Это было <br />очень смело!</h2>
    </div>
    <div class="subscribe__form">
      <div class="form-description">
        <p>
          Подпишитесь на нашу рассылку <br />
          и получите промокод на дополнительные <br />
          10% к первой арендной плате. <br />
        </p>
        <p>
          Среди всех подписавшихся мы <br />
          разыграем 10 Яндекс Станций Миди!
        </p>
      </div>
      <connect src="./components/subscribe-form.html" />
    </div>
  </div>
  <picture class="subscribe__image">
    <source srcset="./assets/img/slides/fobia3-done_mobil.webp" media="(max-width: 1023px)" />
    <source srcset="./assets/img/slides/fobia3-done.webp" media="(min-width: 1024px)" />
    <img src="./assets/img/slides/fobia3-done.webp" alt="" />
  </picture>
</div>

<div class="popup-content" id="ok">
  <button class="popup-close" data-popup-close></button>
  <div class="text-content">
    <h2 class="title title--h2">Вы подписаны!</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab laudantium repellat, qui dignissimos molestias quam nisi quis quia adipisci natus
      at, consequatur reprehenderit omnis a quo odio! At.
    </p>
    <button class="button button--yellow" data-popup-close>Ок</button>
  </div>
</div>

<div class="popup-content" id="error">
  <button class="popup-close" data-popup-close></button>
  <h2>Error</h2>
</div>
