<div class="form-description">
  <p>
    Подпишитесь на нашу рассылку <br />
    и получите промокод на дополнительные <br />
    10% к первой арендной плате. <br />
  </p>
  <p>
    Среди всех подписавшихся мы <br />
    разыграем 10 Яндекс Станций Миди!
  </p>
</div>

<form action="#" novalidate data-subscribe>
  <label>
    <input type="email" name="email" placeholder="E-mail" class="input" required />
  </label>
  <label>
    <input type="checkbox" name="agree" class="checkbox" checked required />
    <span>
      <span>
        Я даю согласие <a href="https://yandex.ru/legal/lease_termsofuse/?lang=ru" target="_blank">ООО «Яндекс.Вертикали»</a> на обработку моих
        персональных данных в целях направления мне сообщений рекламного характера
      </span>
    </span>
  </label>
  <button type="submit" class="submit"><span>Подписаться</span></button>
  <span class="rules">
    <a href="https://yandex.ru/legal/arenda_no_phobia/" target="_blank">Подробнее о правилах розыгрыша</a>
  </span>
</form>
