<form action="#" novalidate data-subscribe>
  <label>
    <input type="email" name="email" placeholder="E-mail" class="input" required />
  </label>
  <label>
    <input type="checkbox" name="agree" class="checkbox" checked required />
    <span>
      Я даю согласие <a href="https://yandex.ru/legal/lease_termsofuse/?lang=ru" target="_blank">ООО «Яндекс.Вертикали»</a> на обработку моих
      персональных данных в целях направления мне сообщений рекламного характера
    </span>
  </label>
  <button type="submit" class="submit"><span>Подписаться</span></button>
  <a href="#" class="rules" target="_blank">Подробнее о правилах розыгрыша</a>
</form>
