<form action="#" novalidate data-subscribe class="subscribe-form">
  <p class="form-description">
    <span>
      Подпишитесь на нашу рассылку <br />
      и получите промокод на дополнительные <br />
      10% к первой арендной плате. <br />
    </span>
    <span>
      Среди всех подписавшихся мы <br />
      разыграем 10 Яндекс Станций Миди!
    </span>
  </p>
  <label>
    <input type="email" name="email" placeholder="E-mail" class="input" required />
  </label>
  <label>
    <input type="checkbox" name="agree" class="checkbox" checked required />
    <span>
      <span>
        Я даю согласие <a href="https://yandex.ru/legal/lease_termsofuse/?lang=ru" target="_blank">ООО «Яндекс.Вертикали»</a> на обработку моих
        персональных данных в целях направления мне сообщений рекламного характера
      </span>
    </span>
  </label>
  <button type="submit" class="submit"><span>Подписаться</span></button>
</form>

<span class="rules">
  <a href="https://yandex.ru/legal/arenda_no_phobia/" target="_blank">Подробнее о правилах розыгрыша</a>
</span>
